body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

/* Navigation Bar styling */
nav {
  font-family: 'PT Serif', serif;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bookish-text {
  font-size: 35px;
  font-weight: bold;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-right: 30px;
  padding-top: 23px;
}

.nav-links {
  padding-top: 35px;
}

nav a:hover, .active {
  color: #76323f;
}

/*Top Image styling*/
.top-image {
  height: 400px;
  background-image: url('./books-background.png');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
}

.intro-text {
  margin-top: 0;
  font-size: 20px;
  padding-top: 50px;
}

.quote {
  margin-top: 0;
  font-size: 50px;
  font-family: 'PT Serif', serif;
  width: 500px;
  margin: auto;
}

.quote-author {
  font-size: 20px;
  border: 1px solid white;
  width: 200px;
  margin: 30px auto;
  padding: 15px 6px;
}



/* Extra stuff */
.book-card {
  border: 2px solid orange;
}


/*Media Queries*/
@media (max-width: 1299px) {
  .nav-links {
    display: none;
  }

  .bookish-text {
    font-size: 30px;
    text-align: left;
    padding-left: 100px;
    padding-top: 30px;
  }

  nav {
    justify-content: flex-start;
  }
}
