body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  background-color: #f3f0ef;
}

/* Navigation Bar styling */
nav {
  font-family: 'PT Serif', serif;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
}

.bookish-text {
  font-size: 35px;
  font-weight: bold;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 20px;
  margin-right: 30px;
  padding-top: 23px;
}

.nav-links {
  padding-top: 35px;
}

nav a:hover, .active {
  color: #76323f;
}

/*Top Image styling*/
.top-image {
  height: 400px;
  background-image: url('./books-background.png');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: white;
  border-bottom: 8px solid #76323f;
}

.intro-text {
  margin-top: 0;
  font-size: 20px;
  padding-top: 50px;
}

.quote {
  margin-top: 0;
  font-size: 50px;
  font-family: 'PT Serif', serif;
  width: 500px;
  margin: auto;
}

.quote-author {
  font-size: 20px;
  border: 1px solid white;
  width: 200px;
  margin: 30px auto;
  padding: 15px 6px;
}

/* Books List styling */
.books-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}

.subtitles-container {
  width: 88%;
  margin: auto;
}

.books-subtitle {
  font-family: 'PT Serif', serif;
  font-size: 40px;
  margin-bottom: 5px;
  margin-top: 0;
  padding-top: 20px;
}

.second-subtitle {
  font-size: 16px;
  color: #939191;
  margin-top: 0;
  margin-bottom: 50px;
}

/* Page Buttons styling */
.page-buttons-container {
  text-align: center;
  margin-bottom: 20px;
}

.page-buttons-container p {
  font-size: 20px;
  color: #939191;
}

.page-buttons-container button {
  background-color: #76323f;
  color: white;
  border: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  padding: 6px 14px;
  cursor: pointer;
  margin: 15px;
}

button:disabled {
  background-color: #939191;
  color: #f3f0ef;
  cursor: default;
}

/*Book Cards styling*/
.book-card {
  border-bottom: 6px solid #76323f;
  background-color: white;
  width: 25%;
  max-width: 280px;
  margin: 0 10px 30px 10px;
  text-align: center;
  font-size: 18px;
  padding: 20px 8px;
}

.book-card:hover {
  background-color: #e8e3e2;
}

.book-card a {
  text-decoration: none;
  color: black;
}

.book-title {
  font-weight: bold;
}

.book-author {
  color: #76323f;
  text-decoration: underline;
}

/*Single book section styling*/
.single-book-section {
  background-color: #f3f0ef;
  padding-bottom: 60px;
}

.single-book-section a {
  background-color: #76323f;
  color: white;
  text-decoration: none;
  font-family: 'PT Serif', serif;
  font-size: 20px;
  padding: 10px;
}

.single-book-section a:hover {
  color: #e8e3e2;
}

.back-link {
  padding-top: 40px;
  padding-left: 40px;
}

.book-data-container {
  display: flex;
  width: 50%;
  margin-top: 40px;
  margin-left: 40px;
  background-color: white;
  margin-bottom: 40px;
}

.book-image {
  width: 800px;
}

.book-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.book-data-text {
  padding: 10px 30px;
  width: 40%;
}

.book-data-text p {
  color: #76323f;
  font-size: 15px;
}

/*Media Queries*/
@media (max-width: 1299px) {
  .nav-links {
    display: none;
  }

  .bookish-text {
    font-size: 30px;
    text-align: left;
    padding-left: 100px;
    padding-top: 30px;
  }

  nav {
    justify-content: flex-start;
  }
}
